body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 0; /* Reduced padding for a smaller header */
}

nav {
    display: flex;
    justify-content: space-between; /* Spread items across the nav */
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Make the navigation items display in a row */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Align the theme toggle to the right */
.theme-toggle {
    margin-left: auto; /* Push the toggle to the right */
    margin-right: 20px; /* Add some margin to the right */
}

#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
}

.experience, .education, .skills, .projects, .contact {
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    justify-items: center;
}

.card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    transition: transform 0.3s;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin: 0;
}

.card p {
    margin: 5px 0;
}

.details {
    display: none; /* Hide details by default */
}

.card:hover .details {
    display: block; /* Show details on hover */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Theme Styles */
body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: #333;
    color: white;
}

input[type="checkbox"] {
    display: none;
}

.theme-toggle label {
    cursor: pointer;
}
